body {
    background-color: #e8e8e7;
}

.nav-bar {
    background-color: #ffffff;
    height: 60px;
}

.side-nav-menu {
    color: #363e44;
}

.side-nav {
    background-color: #5f707f;
    max-width: 200px;
}